<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean id="diesel" class="io.spring.beans.DieselEngine" scope="prototype"/>
        <bean id="petrol" class="io.spring.beans.PetrolEngine"/>
        <bean id="car" class="io.spring.beans.Car" scope="prototype">
        	<constructor-arg ref="diesel"/>
        	<property name="eng" ref="petrol"/>
        </bean>
</beans>